.darken {
    color: rgba(47,86,135,1);
    font-size: auto;
}
.submission {
    background-color: rgba(47,86,135,1);
    border: none;
    color: white;
    margin: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    font-size: 16px;
  }